* {
    font-family: 'Poppins', sans-serif;
    font-size:;
    text-transform: uppercase;
    text-align: center;
}

table {
    background-color: #c1e3de;  
    border: 5px solid #c1e3de;
}

.square {
    font-size: 40px;
    width: 80px;
    height: 80px;
    padding:;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    border-collapse:;
}

.square:hover {
    background-color: #cccccc;
    cursor: pointer;
}

a {
    background-color: #c1e3de;
    color: #ffffff;
    width: 80px;
    padding: 10px;
    text-align: center;
    margin: 16px auto;
    border-radius: 25px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.selected {
    background-color: #ffffff;
}

.selected > td {
    color: #cccccc;
}

.player1 {
    font-size: 40px;
    width: 80px;
    height: 80px;
    padding:;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: inline-block;
}
.player2 {
    font-size: 40px;
    width: 80px;
    height: 80px;
    padding:;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: inline-block;
}
