* {
    font-family: 'Poppins', sans-serif;
    font-size:;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

body {
    background: #457EBD;
    background-repeat: repeat;
}

.topHeader {
    position: relative;
}

.bottomFooter {
    margin: 0 auto;
}

.row {
    display: block;
    height: auto;
    margin-left:;
}

.token {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #F5D443;
    display: inline-block;
}

.board {
    background: #457EBD;
}

.open {
    background: #F5D443;
    border: 3px solid #DB6D4C;
    margin: 5px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #64B9EA;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

}

.lisa {
    background-image: url(http://i.imgur.com/SGhkY6Q.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #DB6D4C;
    margin: 5px;
}

.bart {
    background-image: url(http://i.imgur.com/EWR9h6x.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #DB6D4C;
    margin: 5px;
}

.active {
    border: 3px solid #F5D443;
    border-radius: 150px;
}  

.reset {
    background-color: #DB6D4C;
    color: #F5D443;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}  