* {
    font-family: 'Poppins', sans-serif;
    font-size:;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

body {
    background: url("http://i.imgur.com/nUhVBCJ.png");
    background-repeat: no-repeat;
    width: 850px;
    height: 650px;
}

.topHeader {
    position: relative;
}

.bottomFooter {
    margin: 0 auto;
}

.row {
    display: block;
    height: auto;
    margin-left: 4%
}

.token {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #F5D443;
    border: 2px solid #DB6D4C;
    display: inline-block;
}

.board {
    background: #457EBD;
    width: 850px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #64B9EA;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

}

.token a {
    background-image: url(http://i.imgur.com/SGhkY6Q.png);
    background-size: contain;
    background-repeat: no-repeat;
}

token b {
    background-image: url(http://i.imgur.com/EWR9h6x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.turn {
    border: 3px solid #F5D443;
    border-radius: 150px;
}  

.reset {
    background-color: #DB6D4C;
    color: #F5D443;

}  